<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="navbar navbar mat-elevation-z6" color="primary">
    
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand">
      <h1>Report System</h1>
    </a>

    <span class="navbar-spacer"></span>
    <app-task></app-task>
    <app-server></app-server>
    <app-user></app-user>

  </mat-toolbar>
  <mat-sidenav-container class="navbar-sidenav-container">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
      <app-menu-bar></app-menu-bar>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>