<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="navbar navbar mat-elevation-z6" color="primary">
    
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand">
      <h1>Report System</h1>
    </a>

    <span class="navbar-spacer"></span>
    <app-server></app-server>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs> UserName </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>

  </mat-toolbar>
  <mat-sidenav-container class="navbar-sidenav-container">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
      <mat-nav-list>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dashboard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item>
            <p mat-line [routerLink]="['/dashboard']" routerLinkActive="active">Landing Page</p>
          </a>
          <a mat-list-item>
            <p mat-line [routerLink]="['/not-found']" routerLinkActive="active">Not Found</p>
          </a>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>